*{
    margin: 0%;
}

.header-wrapper{
    width: 100%;
}

.header-top-bg{
    background-color: #ba2e1f;
    width: 100%;
}

.header-top{
    width: 95%;
    padding: 2% 0%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-left{
    color: white;
    font-size: x-small;
}

.header-top-left ul{
    padding-left: 0;
    display: flex;
    list-style-type: none;
}

.header-top-left ul li{
    margin: 0px 5px;
    cursor: pointer;
}

.header-top-left ul li:hover{
    color: rgb(219, 120, 136);
}

.header-top-left ul li:first-child{
    margin-left: unset;
}

.header-top-right{
    display: flex;
    align-items: center;
}

.header-top-right button{
    background: #ba2e1f;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    position: relative;
    display: flex;
    left: 83%;
}

.header-top-right button:hover{
    background: #f74f3c;
}

.fa-search{
    margin: 2px -2.5px !important;
    padding: unset;
}

.search-bar{
    width: 25vw;
    padding: 4% 0%;
    padding-left: 5%;
    border: none;
    border-radius: 30px;
    outline-style: none;
}

.header-middle{
    width: 95%;
    margin: auto;
    padding: 5% 0%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-middle h1{
    font-weight: normal;
    font-size: 170%;
}

.header-middle h1::first-letter{
    font-size: 120%;
}

.header-middle p{
    font-size: smaller;
}

.header-middle-right button{
    cursor: pointer;
    border: none;
    width: 25px;
    border-radius: 50%;
    color: white;
    background: black;
}

.header-middle-right button:hover{
    background: orangered;
}

.fab{
    margin: 35% 0%;
}

.fas{
    margin: 35% 0%;
}

.fa-wifi{
    transform: rotate(45deg) translateX(-2px) translateY(2.5px);
}

.header-bottom{
    background-image: linear-gradient( #333333 55%, #2b2b2b 50%);
    width: 95%;
    margin: auto;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px 0px;
}

.header-bottom ul{
    text-align: center;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-bottom ul li{
    cursor: pointer;
    margin: 0px 7px;
}

.header-bottom ul li:hover{
    color: #ba2e1f;
}

.title-wrapper{
    width: 95%;
    display: flex;
    margin: auto;
    margin-top: 3vw;
    flex-wrap: wrap;
    justify-content: center;
}

.title-image{
    background: #333333;
    color: white;
    width: 95vw;
    height: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4vw;
}

.title-text{
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#title{
    font-size: 350%;
}

#title-desc{
    color: grey;
}

#title-more{
    display: flex;
    justify-content: flex-end;
    color: #ba2e1f;
    cursor: pointer;
}





@media (min-width: 750px){

    .header-top-left{
        color: white;
        font-size: small;
    }

    .title-wrapper{
        width: 95%;
        display: flex;
        margin: auto;
        margin-top: 3vw;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .title-image{
        background: #333333;
        color: white;
        width: 40vw;
        height: 40vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4vw;
    }

    .title-text{
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    #title{
        font-size: 370%;
    }

}


@media (min-width: 1100px){

    .header-top{
        width: 95%;
        padding: 1% 0%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-top-left{
        color: white;
        font-size: medium;
    }

    .header-top-right button{
        background: #ba2e1f;
        border: none;
        border-radius: 50px;
        color: white;
        cursor: pointer;
        position: relative;
        display: flex;
        left: 19.5vw;
    }

    .search-bar{
        width: 20vw;
        padding: 0.5vw 0;
        padding-left: 5%;
        border: none;
        border-radius: 100px;
        outline-style: none;
    }

    .header-middle{
        width: 95%;
        margin: auto;
        padding: 2% 0%;
        margin-bottom: 1%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .header-middle h1{
        font-weight: normal;
        font-size: 280%;
    }
    
    .header-middle h1::first-letter{
        font-size: 120%;
    }
    
    .header-middle p{
        font-size: unset;
    }

    .header-bottom ul{
        text-align: center;
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-size: medium;
    }

    .header-middle-right button{
        cursor: pointer;
        border: none;
        width: 25px;
        border-radius: 50%;
        color: white;
        background: black;
        margin-left: 0.5vw;
    }
    
    .title-wrapper{
        width: 95%;
        display: flex;
        margin: auto;
        margin-top: 3vw;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .title-image{
        background: #333333;
        color: white;
        width: 42vw;
        height: 42vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4vw;
    }

    .title-text{
        width: 46vw;
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    #title{
        font-size: 650%;
    }

    #title-desc{
        font-size: large;
    }
    

}