*{
    margin: 0%;
}

.page-wrapper{
    display: flex;
    flex-direction: column;
}

.header-wrapper{
    width: 100%;
}

.header-top-bg{
    background-color: #ba2e1f;
    width: 100%;
}

.header-top{
    width: 95%;
    padding: 2% 0%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-left{
    color: white;
    font-size: x-small;
}

.header-top-left ul{
    padding-left: 0;
    display: flex;
    list-style-type: none;
}

.header-top-left ul li{
    margin: 0px 5px;
    cursor: pointer;
}

.header-top-left ul li:hover{
    color: rgb(219, 120, 136);
}

.header-top-left ul li:first-child{
    margin-left: unset;
}

.header-top-right{
    display: flex;
    align-items: center;
}

.header-top-right button{
    background: #ba2e1f;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    position: relative;
    display: flex;
    left: 83%;
}

.header-top-right button:hover{
    background: #f74f3c;
}

.fa-search{
    margin: 2px -2.5px !important;
    padding: unset;
}

.search-bar{
    width: 25vw;
    padding: 4% 0%;
    padding-left: 5%;
    border: none;
    border-radius: 30px;
    outline-style: none;
}

.header-middle{
    width: 95%;
    margin: auto;
    padding: 5% 0%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-middle h1{
    font-weight: normal;
    font-size: 170%;
}

.header-middle h1::first-letter{
    font-size: 120%;
}

.header-middle p{
    font-size: smaller;
}

.header-middle-right button{
    cursor: pointer;
    border: none;
    width: 25px;
    border-radius: 50%;
    color: white;
    background: black;
}

.header-middle-right button:hover{
    background: orangered;
}

.fab{
    margin: 35% 0%;
}

.fas{
    margin: 35% 0%;
}

.fa-wifi{
    transform: rotate(45deg) translateX(-2px) translateY(2.5px);
}

.header-bottom{
    background-image: linear-gradient( #333333 55%, #2b2b2b 50%);
    width: 95%;
    margin: auto;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px 0px;
}

.header-bottom ul{
    text-align: center;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-bottom ul li{
    cursor: pointer;
    margin: 2px 7px;
}

.header-bottom ul li:hover{
    color: #ba2e1f;
}

.title-wrapper{
    width: 95%;
    display: flex;
    margin: auto;
    margin-top: 3vw;
    margin-bottom: 3vw;
    flex-wrap: wrap;
    justify-content: center;
}

.title-image{
    background: #333333;
    color: white;
    width: 95vw;
    height: 104vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4vw;
}

.title-text{
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#title{
    font-size: 350%;
}

#title-desc{
    color: grey;
}

#title-more{
    display: flex;
    justify-content: flex-end;
    color: #ba2e1f;
    cursor: pointer;
}

.body-wrapper{
    background: #f2f2f2;
    width: 100%;
    padding: 5vw 0;
    margin-top: unset;
}

.body-bg{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-front{
    width: 100%;
    padding: 5vw 0;
    font-size: 95%;
}

.body-title{
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 8vw;
}

.body-front-image{
    background: #333333;
    height: 140px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-front-para-1, .body-front-para-2{
    padding: 4% 0;
    color: grey;
}

.body-front-more{
    display: flex;
    justify-content: flex-end;
    color: #ba2e1f;
    cursor: pointer;
}

.body-middle{
    width: 100%;
    padding: 5vw 0;
}

.body-middle-service{
    display: flex;
    padding-bottom: 4%;
    justify-content: space-between;
    font-size: 95%;
}

.body-middle-service-image{
    color: white;
    background: #333333;
    width: 32%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 6%;
}

.body-middle-service-text{
    color: grey;
}

.body-middle-more{
    font-size: 95%;
    color: #ba2e1f;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.service-name{
    padding-bottom: 1.5vw;
}

.body-back{
    width: 100%;
    padding: 5vw 0;
}

.body-back-box{
    color: grey;
    font-size: 95%;
}

.body-back-name img{
    padding-right: 3vw;
}

.body-back-box, .one{
    padding-bottom: 7vw;
}

.body-back-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 3vw;
}

position{
    font-weight: normal;
}

.body-back-text{
    padding-bottom: 1vw;
}

.body-back-more{
    color: #ba2e1f;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.info-wrapper{
    width: 95%;
    margin: auto;
    padding: 7vw 0;
    padding-bottom: 2vw;
    border: hidden;
    color: grey;
}

.info-box{
    padding: 6vw 0;
    border-top: 1.5px solid rgb(61, 57, 57);
}

.info-box a{
    text-decoration: unset;
    color: #ba2e1f;
}

.info-topic{
    padding-bottom: 5vw;
    font-size: large;
    font-weight: bold;
}

.info-text{
    padding-bottom: 3vw ;
    font-size: 95%;
}

.info-table{
    padding-bottom: 3vw ;
    width: 100%;
    font-size: 95%;
}

.info-table td {
    border-bottom: 1px solid grey;
    padding: 1vw 0;
    cursor: pointer;
}

.info-table td:hover{
    color: rgb(80, 77, 77);
}

.info-post-box{
    padding-bottom: 6vw;
    font-size: large;
}

.info-post-title{
    font-weight: bold;
}

.info-post-info{
    font-size: small;
    padding-bottom: 4vw;
}

.info-post-desc{
    padding-bottom: 2vw;
    font-size: 90%;
}

.info-post-more{
    display: flex;
    justify-content: flex-end;
    color: #ba2e1f;
    cursor: pointer;
    font-size: 95%;
}

.info-form{
    display: flex;
    flex-direction: column;
}

.form-text{
    border: none;
    border-radius: 5px;
    outline: unset;
    background-color: #f2f2f2;
    font-size: medium;
    padding: 2vw;
    margin-bottom: 2vw;
}

#multi-line{
    height: 30vh;
    text-align: top ;
    border: unset;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-bottom: 5%;
    font-size: large;
    padding: 3%;
    outline: unset;
}

.form-button{
    color: #ba2e1f;
    background-color: #f2f2f2;
    width: 20vw;
    padding: 1vw 0;
    border: unset;
    border-radius: 5px;
}

.footer-wrapper{
    width: 100%;
    background-color: #f2f2f2;
}

.footer-bg{
    width: 95%;
    margin: auto;
    padding: 3vw 0;
    display: flex;
    justify-content: space-between;
    color: grey;
    font-size: xx-small;
}


@media (min-width: 750px){

    .header-top-left{
        color: white;
        font-size: small;
    }

    .title-wrapper{
        width: 95%;
        display: flex;
        margin: auto;
        margin-top: 3vw;
        margin-bottom: -3.8vw;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .title-image{
        background: #333333;
        color: white;
        width: 40vw;
        height: 44vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4vw;
    }

    .title-text{
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    #title{
        font-size: 370%;
    }

    .body-wrapper{
        padding: 0vw 0;
    }

    .body-bg{
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    .body-front{
        padding: 5vw 0;
        width: 32%;
    }

    .body-title{
        padding-bottom: 4vw;
        font-size: larger;
    }

    .body-front-image{
        margin-bottom: 1vw;
    }

    .body-middle{
        background: unset;
        padding: 5vw 0;
        width: 32%;
    }

    .body-middle-service{
        padding-bottom: 2vw;
    }

    .body-middle-service-image{
        width: 20vw;
        height: 8vw;
    }

    .service-name{
        padding-bottom: 1vw;
    }
    
    .body-back{
        background: unset;
        padding: 5vw 0;
        width: 32%;
    }

    .body-back-name img{
        padding-right: 2vw;
    }

    .body-back-name{
        padding-bottom: 1vw;
    }

    .body-back-box, .one{
        padding-bottom: 1vw;
    }

    .info-wrapper{
        width: 95%;
        margin: auto;
        padding: 4vw 0;
        padding-bottom: 1vw;
        border: hidden;
        color: grey;
        display: flex;
        justify-content: space-between;
    }

    .info-box{
        width: 23%;
        padding: 2vw 0;
    }

    .info-topic{
        padding-bottom: 3vw;
        font-size: medium;
        font-weight: bold;
    }

    .info-post-box{
        padding-bottom: 1vw;
    }

    .info-post-title{
        font-size: medium;
    }

    .info-post-info{
        font-size: x-small;
        padding-bottom: 1vw;
    }

    .info-post-desc{
        padding-bottom: 1vw;
    }

    .form-text{
        border: none;
        border-radius: 5px;
        outline: unset;
        background-color: #f2f2f2;
        font-size: medium;
        padding: 1vw;
        margin-bottom: 2vw;
    }

    #multi-line{
        height: 15vw;
    }

    .form-button{
        width: 10vw;
    }

    .footer-bg{
        font-size: small;
        padding: 2vw 0;
    }

}


@media (min-width: 1000px){

    .header-top{
        width: 95%;
        padding: 1% 0%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-top-left{
        color: white;
        font-size: medium;
    }

    .header-top-right button{
        background: #ba2e1f;
        border: none;
        border-radius: 50px;
        color: white;
        cursor: pointer;
        position: relative;
        display: flex;
        left: 19.5vw;
    }

    .search-bar{
        width: 20vw;
        padding: 0.5vw 0;
        padding-left: 5%;
        border: none;
        border-radius: 100px;
        outline-style: none;
    }

    .header-middle{
        width: 95%;
        margin: auto;
        padding: 2% 0%;
        margin-bottom: 1%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .header-middle h1{
        font-weight: normal;
        font-size: 280%;
    }
    
    .header-middle h1::first-letter{
        font-size: 120%;
    }
    
    .header-middle p{
        font-size: unset;
    }

    .header-bottom ul{
        text-align: center;
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-size: medium;
    }

    .header-middle-right button{
        cursor: pointer;
        border: none;
        width: 25px;
        border-radius: 50%;
        color: white;
        background: black;
        margin-left: 0.5vw;
    }
    
    .title-wrapper{
        width: 95%;
        display: flex;
        margin: auto;
        margin-top: 3vw;
        margin-bottom: -3.9vw;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .title-image{
        background: #333333;
        color: white;
        width: 42vw;
        height: 46vw;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4vw;
    }

    .title-text{
        width: 46vw;
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    #title{
        font-size: 590%;
    }

    #title-desc{
        font-size: large;
    }

    .body-wrapper{
        padding: 0vw 0;
    }

    .body-box{
        width: 30.5%;
    }

    .body-title{
        font-size: xx-large;
        font-weight: lighter;
        padding-bottom: 3vw 0;
    }

    .body-middle-service-image{
        width: 90px;
        height: 64px;
    }

    .service-name{
        padding-bottom: 1%;
    }

    .body-back-name img{
        padding-right: 1vw;
    }

    .info-wrapper{
        padding: 3vw 0;
        padding-bottom: 0vw;
    }

    .info-topic{
        font-size: large;
        padding-bottom: 2vw;
    }

    .info-post-box{
        padding-bottom: 2vw;
    }

    .info-table tr td{
        padding: 2.5% 0;
    }

    .info-post-info{
        font-size: 65%;
        padding-bottom: 2vw;
    }

    .info-post-more{
        font-size: 90%;
    }

    .form-text{
        font-size: 95%;
        padding: 0.7vw;
        margin-bottom: 1vw;
    }

    #multi-line{
        height: 10vw;
    }

    .form-button{
        width: 5vw;
        padding: 0.7vw;
    }

}